.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;

  background-color: hsl(239, 94, 19);
  background: linear-gradient(hsl(239, 94, 19), hsl(239, 94, 29));

  header,
  main,
  footer {
    width: 100%;
    max-width: 720px;

    margin: 0 auto;
    padding: 1rem;
  }

  .title {
    text-align: center;
    font-size: 3rem;
    font-family: sans-serif;
    color: hsl(239, 94, 100);
    font-weight: 800;
  }

  .text {
    font-size: 1.6rem;
    text-align: center;
    font-family: sans-serif;
    color: hsl(239, 94, 87);
  }

  .icon {
    width: 1em;
    height: 1em;
  }
}

.note-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  transition: 0.3s;
}

@media (max-width: 500px) {
  .note-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  }
}

.note-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  min-height: 100px;
  padding: 0.5rem;

  .title {
    font-size: 2rem;
  }

  border: 2px solid hsla(239, 94, 87, 25%);
  border-radius: 2rem;

  background-color: hsla(239, 94, 87, 25%);
  backdrop-filter: blur(10px);

  box-shadow: inset 1rem 1rem 1rem hsla(239, 94, 87, 10%),
    inset -0.5rem -0.5rem 1rem hsla(239, 94, 0, 20%),
    0 0 2rem hsla(239, 94, 0, 20%);

  &:hover {
    border-color: hsl(239, 94, 87);
  }

  transition: 0.2s;
}

.note-form {
  padding: 1rem;
  margin-bottom: 2rem;

  border: 2px solid hsla(239, 94, 87, 25%);
  border-radius: 2rem;

  background-color: hsla(239, 94, 56, 25%);
  backdrop-filter: blur(10px);

  box-shadow: inset 1rem 1rem 1rem hsla(239, 94, 87, 10%),
    inset -0.5rem -0.5rem 1rem hsla(239, 94, 0, 20%),
    0 0 2rem hsla(239, 94, 0, 20%);

  transition: 0.2s;

  &:hover {
    border-color: hsl(239, 94, 87);
  }

  .title {
    text-align: center;
    font-size: 2.6rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input {
    width: 100%;
    max-width: 50ch;
    padding: 0.5rem;
    margin: 1rem 0;

    font-size: 1.6rem;
    font-family: sans-serif;
    color: hsl(239, 94, 20);

    border: 2px solid hsla(239, 94, 87, 25%);
    border-radius: 2rem;

    background-color: hsla(239, 94, 95, 100%);

    box-shadow: inset 1rem 1rem 1rem hsla(239, 94, 0, 10%),
      inset -0.5rem -0.5rem 1rem hsla(239, 94, 0, 20%);

    cursor: pointer;
    transition: 0.3s;

    &:focus {
      outline: none;
      border-color: hsl(239, 94, 67);
    }

    &:hover {
      border-color: hsl(239, 94, 67);
    }
  }

  textarea.input {
    min-height: 3.1rem;
    resize: vertical;
    border-bottom-right-radius: 0.2rem;
    transition: none;
    transition: border-color 0.3s, border-radius 0.3s;
  }
}

.button {
  width: max-content;
  padding: 0.5rem;

  font-size: 1.6rem;
  font-family: sans-serif;
  color: hsl(239, 94, 100);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  border: 2px solid hsla(239, 94, 87, 25%);
  border-radius: 2rem;

  background-color: hsla(239, 94, 60, 50%);

  box-shadow: inset 1rem 1rem 1rem hsla(239, 94, 87, 10%),
    inset -0.5rem -0.5rem 1rem hsla(239, 94, 0, 20%);

  transition: 0.1s;
  cursor: pointer;

  &:hover {
    border-color: hsl(239, 94, 87);
  }

  &.green {
    background-color: hsla(120, 94, 60, 50%);

    &:hover {
      border-color: hsl(120, 94, 87);
    }
  }

  &.red {
    background-color: hsla(0, 78, 49, 0.6);

    &:hover {
      border-color: hsl(0, 78, 69);
    }
  }
}

.buttons-container {
  display: flex;
}