:root {
  font-size: 10px;

  --primary-color: hsl(239, 94, 19);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

code {
  font-family: monospace;
}
